extends layout

block content
  
      
  div#wrapper
    section#intro(class="wrapper style1 fullscreen fade-up")
      div(class="inner")
        h1 HYPERSPACE
        p Just another fine responsive site template designed by  Creative Commons



    section#one(class="wrapper style2 spotlights")
      div(class="inner")
        h1 HYPERSPACE
        p Just another fine responsive site template designed by  Creative Commons
        br


    section#two(class="wrapper style3 fade-up")
      div(class="inner")
        h1 HYPERSPACE
        p Just another fine responsive site template designed by  Creative Commons

    section#three(class="wrapper style1 fade-up")
      div(class="inner")
        h1 HYPERSPACE
        p Just another fine responsive site template designed by  Creative Commons
				
				
				
				

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
      



