doctype html
html(lang='fr')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/assets/css/main.css')
    link(rel='stylesheet', href='assets/css/faceCast.css')
  body        
    section#sidebar
      div(class="inner")
          nav
            ul
              li
                a(href="/") Home
              li
                a(href="/offre") List of offers
              li
                a(href="/extra") List of extras
              li
                a(href="/candidacy") List of candidacy
      
    
    block content

    script(src='/assets/js/jquery.min.js')
    script(src='/assets/js/jquery.scrollex.min.js')
    script(src='/assets/js/jquery.scrolly.min.js')
    script(src='/assets/js/skel.min.js')
    script(src='/assets/js/util.js')
    script(src='/assets/js/main.js')
    script(src='/assets/js/field.js')